<style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Playfair Display', serif;
            /* sticky footer */
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        h1 {
            text-align: center;
            font-size: 40pt;
        }

        h2 {
            text-align: center;
            font-size: 15pt;
            color: grey;
        }

        .container {
            align-content: center;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            padding: 10px;
        }

        nav {
            background-color: #009688;
        }

        .page-footer {
            background-color: #009688;
        }

        .title {
            font-weight: bold;
        }

        #profile-image {

        }

        .badge-container {
            text-align: center;
        }

        img.badge {
            width: 18%;
        }

        a:hover {
            font-weight: bold;
        }

        /* img:hover {
            opacity: 0.5;
            -webkit-opacity: 0.5;
            -moz-opacity: 0.5;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            -moz-transition: 0.5s ease;
        } */

        .card {
            width: 450px;
            height: 500px;
        }

        .card-image {
            width: 450px;
            height: 300px;
        }

        button {
            margin-left: 45%;
        }

/* sticky footer */
        main {
            flex: 1 0 auto;
        }

</style>
